body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.messageNotifications {
    background-color: red;
    color: white;
    font-size: 14px;
    margin: 50px 0 auto 0;


}

#logo {
    margin:0 auto;
    display: block;
}

#workevent-logo{
    float:left;
    margin: 2% auto;
}

#nav-logo{
    margin:10% auto;
    width:6.8em;

}

#logo-box{
    margin-right:15px;
}

.form-check-label {
    text-align: center;
}

.input-form-group {
    text-align: center;
}

.login-uNPassword {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: #f0f0f0;
    font-weight: bold;
}

.centerthis{
    margin-left:auto;
    margin-right:auto;
}

.login-button {
    background-color: #1a2b51;
    border: solid;
    border-color: #FFB035;
    border-width: 2px;
    border-radius: 2px;
    color: white;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

@media only screen and (max-width: 400px) {
    .login-button {
        width: 40%;
        padding-left: 5px;
        padding-right: 5px;
    }
}


.update-button {
    background-color: #1a2b51;
    border: solid;
    border-color: #FFB035;
    border-width: 2px;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    width: 10%;
    margin-top:2%;
}


.login-button:hover {
        background-color: #FFB035;
        border-color: #1a2b51;
        color: white;
}

.clear-all-floats{
    clear:both;
}

.logo-mini{
    width:10em;
}

.namebox {
    max-height: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #004271;
}

.scroll {
    max-height: 250px;
    overflow-y: auto;
    overflow-x:scroll;
    flex: 1;
}

.index-display-div{
    border-style: solid;
    border-width: 1px;
    border-color: #004271;
}

#footsie {
    margin-right: auto; 
    margin-top: 3%;
    margin-left: 0.5%; 
    position:absolute;
}

.view-details {
    border-style: solid;
    border-width: 1px;
    border-color: #004271;
    margin: 5px;
}
